.sidebar-first #content {
  margin-left: 20%;
  width: 80%;
}

#block-menu-menu-learn-even-more,
#block-menu-menu-how-to-contribute,
#block-menu-menu-getting-started,
#block-menu-menu-resources {
  width: 25%;
  margin: 0; 
}