.view-offerings {
  line-height: 18px;
  .views-field-field-image {
    padding: 10px;
  }
  .views-field-field-offering-category {
    width: 25%;
    font-size: 14px;
  }
  .views-field-title {
    text-align: center; 
  }
}